<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>Update User</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
	<div layout:fragment="content">
	<div class="container my-5">
    <h2 class="mb-5">Update User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{users/update/{id}(id=${user.id})}" th:object="${user}" method="post">           
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" th:field="*{Email}" class="form-control" id="email"
                               placeholder="email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                              class="text-danger"></span>
                    </div>
                    
                    <div th:each="role : ${user.roles}">
                    	<span th:if="${role.name == 'ROLE_ADMIN'}" class="btn btn-success">Yes <i class="fas fa-user-check ml-2"></i></span>                                                            
                    <input type="checkbox" name="abroad" onchange="getAbroad(this)"
           				th:checked="${user.isAdmin}"/>
                    </div>                                                           
                    
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>		
	</div>
</body>

</html>