<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">Address
	Book</title>

<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="#" th:href="@{/css/select2.min.css}" />
<link rel="stylesheet" href="#"
	th:href="@{/css/select2-bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" />
<!-- bootstrap datepicker -->
<link rel="stylesheet"
	th:href="@{/css/bootstrap-datetimepicker.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/AdminLTE.min.css}" />
<link rel="stylesheet" href="#"
	th:href="@{/css/skins/_all-skins.min.css}" />

<!--Bootstrap Select-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />

<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="icon" href="#" th:href="@{/img/favicon.ico}"
	type="image/x-icon" />

<!-- jQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script src="#" th:src="@{/js/app.min.js}"></script>
<script src="#" th:src="@{/js/jquery.slimscroll.min.js}"></script>
<script src="#" th:src="@{/js/select2.full.min.js}"></script>
<script src="#" th:src="@{/js/region.js}"></script>



<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome -->
<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css"
	th:href="@{/css/all.min.css}">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<!-- iCheck -->
<link rel="stylesheet"
	href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<!-- overlayScrollbars -->
<link rel="stylesheet"
	href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet"
	href="plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
<!-- Google Font: Source Sans Pro -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
	rel="stylesheet">

</head>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
	<div class="wrapper">
		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="#" th:href="@{/}" class="logo"> <span class="logo-mini"><b>A</b>D</span>
				<!-- logo for regular state and mobile devices --> <span
				class="logo-lg"><b>Address</b>Book</span>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">


						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <span class="hidden-xs"><span
									sec:authentication="name">Setting</span>&nbsp;<i
									class="fa fa-gears"></i></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header">
									<p>
										<span sec:authentication="name">Setting</span>
									</p>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="row">
										<div class="col-xs-4 text-center">
											<a th:href="@{/editprofile}">Edit Profile</a>
										</div>
										<div class="col-xs-4 text-center">
											<a th:href="@{/changepassword}">Change Password</a>
										</div>
										<div class="col-xs-4 text-center">
											<a th:href="@{/logout}">Sign Out</a>
										</div>
									</div> <!--                                        <div class="col-md-4">
                                                                            <a href="#" th:href="@{/user/changepassword}"  class="btn btn-default btn-flat">Change password</a>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <a href="#" class="btn btn-default btn-flat">Edit Profile</a>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <a href="#" th:href="@{/logout}" class="btn btn-default btn-flat">Sign out</a>
                                                                        </div>-->
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel"></div>

				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">Menu</li>

					<li class="treeview" id="datamaster"><a href="#"><i
							class="fa fa-th"></i> <span>Data Master</span> <span
							class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a th:href="@{/home}">User Contact</a></li>
							<li><a th:href="@{/advanced}">Contact At The Same Branch</a>
							</li>
						</ul></li>

					<li class="treeview" id="ExportData"
						sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"><i
							class="fa fa-inbox"></i> <span>Export Data</span> <span
							class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>

						<ul class="treeview-menu">
							<li><a th:href="@{/invokejob}"
								sec:authorize="hasRole('ROLE_ADMIN')">Export Csv</a></li>

						</ul></li>

					<li class="treeview" id="Admin"
						sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"><i
							class="fa fa-book"></i> <span>Admin Dashboard</span> <span
							class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a th:href="@{/admin/home}">Admin Home</a></li>
							<li><a th:href="@{/admin/pendingContacts}">Pending
									Contacts</a></li>
							<li><a th:href="@{/admin/users}">Users</a></li>

						</ul></li>

				</ul>
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>
		<!-- For Export Date-->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<section class="content-header" layout:fragment="breadcrumb"></section>
			<!-- Content Header (Page header) -->

			<div class="row">
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-info">
						<div class="inner">
							<h3>150</h3>

							<p>Contact Number</p>
						</div>
						<div class="icon">
							<i class="ion ion-bag"></i>
						</div>
						<a href="#" class="small-box-footer">More info <i
							class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-success">
						<div class="inner">
							<h3>
								53<sup style="font-size: 20px">%</sup>
							</h3>

							<p>Contact At the Same Branch</p>
						</div>
						<div class="icon">
							<i class="ion ion-stats-bars"></i>
						</div>
						<a href="#" class="small-box-footer">More info <i
							class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-6" sec:authorize="hasRole('ROLE_ADMIN')">
					<!-- small box -->
					<div class="small-box bg-warning">
						<div class="inner">

							<h3 th:text="${UserNum}"></h3>

							<p>User Registrations</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-add"></i>
						</div>
						<a th:href="@{/admin/users}" class="small-box-footer">More info <i
							class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-danger">
						<div class="inner">
							<h3>65</h3>

							<p>Unique Visitors</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
						<a href="#" class="small-box-footer">More info <i
							class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
			</div>
			<!-- Main content -->
			<section class="content" layout:fragment="content">Di sini
				content utama</section>


			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- Main Footer -->
		<footer class="main-footer">
			<strong> &copy; 2019 / 2020 <script>
				new Date().getFullYear() > 2019
						&& document.write("-" + new Date().getFullYear());
			</script>
				, Miyar.
			</strong>
		</footer>
		<div class="control-sidebar-bg"></div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
	<!--Bootstrap Select-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
	

</body>
</html>
