<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>Pending Contacts</title>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div layout:fragment="content">
		<div>
				<p><i><a th:href="@{/admin/home}">Admin Home</a> </i>
			</p>

				<p><i><a th:href="@{/admin/pendingContacts}">Pending Contacts</a></i>
			</p>
			 <p><i><a th:href="@{/admin/users}">Users</a></i></p>		
		</div>	
<div th:switch="${Address}" class="container my-auto">
			<div align="center" class="row">
				<div class="col-md-6">
					<h2 th:case="null">No Contact yet!</h2>
					<div th:case="*">
						<h2 class="my-auto">Contacts</h2>
						<table class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th>ID</th>
									<th>First name</th>
									<th>Last name</th>
									<th>Age</th>
									<th>Address</th>
									<th>Accept</th>
									<th>Delete</th>									
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="address : ${Address}">
									<td th:text="${address.id}"></td>
									<td th:text="${address.Firstname}"></td>
									<td th:text="${address.Lastname}"></td>
									<td th:text="${address.Age}"></td>
									<td th:text="${address.address}"></td>
									<td><a th:href="@{/admin/accept/{id}(id=${address.id})}"
										class="btn btn-warning"><i class="fas fa-user-check ml-2"></i></a></td>
										<td><a th:href="@{/delete/{id}(id=${address.id})}"
										class="btn btn-danger btnDelete"><i class="fas fa-user-times ml-2"></i></a></td>									
									<td><a th:if="${address.valid}" class="btn btn-success"><i
											class="fas fa-user-check ml-2"></i></a> <a
										th:unless="${address.valid}" class="btn btn-primary"><i
											class="fas fa-user-clock ml-2"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
		</div>
</body>
</html>