<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>User Home</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		    
	<meta cahrset ="UTF-8" />	    
     
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        type="text/javascript"></script>
        <link rel="stylesheet"
	th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
        
        <script type="text/javascript" th:src ="@{webjars/jquery/2.2.4/jquery.min.js}"></script>
        <script type="text/javascript" src ="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src ="@{js/main.js}" src ="../static/js/main.js"></script>
        <script type="text/javascript" src="../static/assets/bootstrap/js/jquery.validate.js"> </script>
        <script type="text/javascript" src = "../static/assets/bootstrap/js/jquery.validate.min.js">
        
</script> 

</head>
<body>
	<div layout:fragment="content">

	<!--  	<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>You will see this only if you are ADMIN</h3>
			<p>
				<a th:href="@{/admin/home}">Admin Home</a>
			</p>
		</div> 
		<div >			
			<p>
				<a th:href="@{/advanced}">Contact At The Same Branch</a>
			</p>
		</div>			
-->
		<div>
			<p>
				<a class="btn btn-success btnNEw" th:href="@{/AddNewAddress}"><i
					class="fas fa-user-plus ml-2"></i></a>
			
						
				<a class="btn btn-warning btnmerg" th:href="@{/mearg}"><i
					class="fas fa-user-friends ml-2"></i></a>

			</p>
		</div>
		<div>
	
		</div>
		<!--    <h2 class="mb-5">Add New Contact</h2>
           <form action="#" th:action="@{/AddAddress}" th:object="${address}" method="post">
                    <div class="form-group col-md-6">
                        <label for="username" class="col-form-label">firstname</label>
                        <input type="text" th:value="${firstname}" class="form-control" th:id="firstname" th:name="firstname"
                               placeholder="firstname">
                        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
                              class="text-danger"></span>
                    </div>
                    
                    <input type="submit" value="Submit" />
            </form>
-->

		<div th:switch="${Address}" class="container my-auto">
			<div align="center" class="row">
				<div class="col-md-6">
					<h2 th:case="null">No Contact yet!</h2>
					<div th:case="*">
						<h2 class="my-auto">Contacts</h2>
						<table class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th>ID</th>
									<th>First name</th>
									<th>Last name</th>
									<th>Age</th>
									<th>Address</th>
									<th>Phone1</th>
									<th>Phone2</th>
									<th>Edit</th>
									<th>Delete</th>
									<th>Status</th>
									<th> </th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="address : ${Address}">
									<td th:text="${address.id}"></td>
									<td th:text="${address.Firstname}"></td>
									<td th:text="${address.Lastname}"></td>
									<td th:text="${address.Age}"></td>
									<td th:text="${address.address}"></td>
									<td th:text="${address.phone1}"></td>
									<td th:text="${address.phone2}"></td>
									<td><a th:href="@{/api/v1/address/{id}?mediaType=json(id=${address.id})}" id = "Edtid"
										class="btn btn-warning btnEdit"><i class="fas fa-user-edit ml-2"></i></a></td>
										
									<td><a th:href="@{/delete/{id}(id=${address.id})}"
										class="btn btn-danger btnDelete"><i class="fas fa-user-times ml-2"></i></a></td>
									<td><a th:if="${address.valid}" class="btn btn-success"><i
											class="fas fa-user-check ml-2"></i></a> <a
										th:unless="${address.valid}" class="btn btn-primary"><i
											class="fas fa-user-clock ml-2"></i></a></td>
									<td>
									 <input type="checkbox" name="marge" th:value="${address.id}" id = "marge">  
									</td>		
								</tr>
							</tbody>
						</table>
		<ul class="nav nav-pills">
                <li class="nav-item"
                    th:each="i : ${#numbers.sequence(0,2)}"><a
                        class="nav-link" th:classappend="${currentPage}==${i}?'active':''" th:href="@{/home/(page=${i})}"
                        th:text="${i}"></a></li>
        	    </ul>
					</div>

				</div>
			</div>
		</div>
		<div class = "frm" >

    </div>
    
    
    <div class = "mergForm">
    
    <form action="#" method="post" th:action="@{/merge}">
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                 id="MargeModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Merge Options</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="chk1" onchange="document.getElementById('chk2').disabled = this.checked;">
  <label class="custom-control-label" for="defaultChecked2">Primary Phone As Second And Delete Contact</label>
	</div>
	                        <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="chk2" onchange="document.getElementById('chk1').disabled = this.checked;">
  <label class="custom-control-label" for="defaultChecked2">Copy Info And Delete Contact</label>
	</div>
                                                    </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>                            
                           <a class="btn btn-danger" href="" id="MerRef">Delete</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
    </div>
    
    		  <div class="EditmyForm">
        <form action="#" method="post" th:action="@{/api/v1/update/address}">
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                 id="exampleModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update or
                                Create</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label" for="firstname">First name:</label>
                                <input class="form-control" id="firstname" name="firstname" type="text" value=""/>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="lastname">Last name:</label>
                                <input class="form-control" id="lastname" name="Lastname" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="address">Address:</label>
                                <input class="form-control" id="address" name="address" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="age">Age:</label>
                                <input class="form-control" id="age" name="age" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="phone1">Phone1:</label>
                                <input class="form-control" id="phone1" name="phone1" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="phone2">Phone2:</label>
                                <input class="form-control" id="phone2" name="phone2" type="text" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <input class="btn btn-primary" type="submit" value="save"/>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
		
		
		
		
		  <div class="myForm">
        <form action="#" method="post" th:action="@{/AddAddress}">
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                 id="exampleModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update or
                                Create</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label" for="firstname">First name:</label>
                                <input class="form-control" id="firstname" name="firstname" type="text" value=""/>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="lastname">Last name:</label>
                                <input class="form-control" id="lastname" name="Lastname" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="address">Address:</label>
                                <input class="form-control" id="address" name="address" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="age">Age:</label>
                                <input class="form-control" id="age" name="age" type="text" value=""/>
                            </div>
                                  <div class="form-group">
                                <label class="col-form-label" for="phone1">Phone1:</label>
                                <input class="form-control" id="phone1" name="phone1" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="phone2">Phone2:</label>
                                <input class="form-control" id="phone2" name="phone2" type="text" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <input class="btn btn-primary" type="submit" value="save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
		
		
		
	
	
	    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Delete Record</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are you sure you want to delete this Contact?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal"
                            type="button">Close
                    </button>
                    <a class="btn btn-danger" href="" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
</body>

</html>