<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>User List</title>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
	<div layout:fragment="content">
		<p>
			Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)
		</p>
		<div>
				<p><i><a th:href="@{/admin/home}">Admin Home</a> </i>
			</p>

				<p><i><a th:href="@{/admin/pendingContacts}">Pending Contacts</a></i>
			</p>
			 <p><i><a th:href="@{/admin/users}">Users</a></i></p>		
		</div>	
						
	<div th:switch="${Users}" class="container my-auto">
			<div align="center" class="row">
				<div class="col-md-6">
					<h2 th:case="null">No User</h2>
					<div th:case="*">
						<h2 class="my-auto">Users</h2>
						<table class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Admin</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="address : ${Users}">
									<td th:text="${address.id}"></td>
									<td th:text="${address.name}"></td>
									<td th:text="${address.Email}"></td>
									<td th:each="item: ${address.roles}" > 
								<span th:if="${item.name == 'ROLE_ADMIN'}" class="btn btn-success">Yes <i class="fas fa-user-check ml-2"></i></span>
      							<span th:unless="${item.name == 'ROLE_ADMIN'}"class="btn btn-danger">No <i class="fas fa-user-times ml-2"></i></span>									
							</td>																		
									<td>
									<a th:href="@{users/edit/{id}(id=${address.id})}"
										class="btn btn-warning"><i class="fas fa-user-edit ml-2"></i></a></td>
									<td><a th:href="@{users/delete/{id}(id=${address.id})}"
										class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>

								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
		</div>
</body>

</html>